<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogLevel="Off">

  <targets>
    <target xsi:type="File"
            name="gui-logfile"
            fileName="${basedir}/logs/${date:format=dd.MM.yyyy}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}"
            keepFileOpen="false"
            concurrentWrites="true"
            encoding="utf-8" />

    <target xsi:type="File"
            name="user-actions-logfile"
            fileName="${basedir}/logs/winFormsClient_${date:format=dd.MM.yyyy}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}"
            keepFileOpen="false"
            concurrentWrites="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="ShortP2P.WinForms.UserAction" minlevel="Info" writeTo="user-actions-logfile" final="true" />
    <logger name="ShortP2P.Transport.Bluetooth.Windows.*" minlevel="Debug" writeTo="gui-logfile" />
    <logger name="*" minlevel="Info" writeTo="gui-logfile" />
  </rules>
</nlog>
